/* ============ COMMON STYLES START ============ */

html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
a {
  color: #0a58ca;
}
a:hover,
a:focus-within {
  text-decoration: underline;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
li > i {
  color: #dc6253;
  margin-right: 5px;
}
/* ============ COMMON STYLES END ============ */
.main-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.top-bar {
  display: flex;
  align-items: center;
  border-top: 2px solid #000;
  padding: 20px 0 0 0;
}
select {
  padding: 4px;
  border-radius: 5px;
  border: 2px solid;
}
.form input {
  padding: 4px;
  border-radius: 5px;
}
.btn-search {
  border: 2px solid hsl(209, 93%, 48%);
  padding: 5.5px;
  border-radius: 5px;
}
.change-view {
  column-gap: 15px;
  display: flex;
  justify-content: flex-end;
}
.btn-change {
  padding: 6px 7px;
  border-radius: 5px;
}
.card-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}
.card-title {
  font-size: 24px;
}
.card-price {
  font-size: 24px;
  font-weight: 700;
  color: green;
}
.main-info {
  columns: 2;
}
.fuel-consume h4 {
  font-size: 14px;
  font-weight: 700;
}
.consume {
  display: flex;
  justify-content: space-between;
}
.vin-block {
  border: 2px solid blue;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
}
.vin-block h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: blue;
  padding: 5px;
  border-radius: 3px 0 0 3px;
}
.card-vin {
  text-align: center;
  margin: 0 auto;
}
.contact-block {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.call-num {
  padding: 10px;
  background-color: blue;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  column-gap: 10px;
  border-radius: 5px;
}
.call-num:hover,
.call-num:focus-within {
  color: #fff;
  text-decoration: none;
}
.save-star {
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  top: 18px;
  right: 30px;
  font-size: 22px;
}
.save-star:hover,
.save-star:focus-within {
  color: gold;
}
.text-muted:last-of-type {
  margin-left: 20px;
}
